#foot-wrap {
  
}

#footer {
  width: 96%;
  margin: auto;
}

#social-nav {
  margin: 2em 0 2em 0;
}

img {
  margin: 2em 0 2em 0;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}